@font-face {
  font-family: "ds-digit";
  src: url(DS-DIGIT.TTF);
}

body {
  background-image: linear-gradient(
    to bottom right,
    rgb(70, 70, 70),
    rgb(185, 185, 185),
    rgb(50, 50, 50)
  );
  margin: 0;

  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 25vh 50vh 25vh;
  grid-template-areas:
    ". . ."
    ". div ."
    ". . .";
}
div {
  border-radius: 60px;
  background-color: black;
  color: rgb(121, 224, 90);
  font-size: 20vw;
  text-shadow: 0 0 50px rgb(23, 161, 18);
  font-family: ds-digit;

  grid-area: div;

  display: flex;
  justify-content: center;
  align-items: center;
}
